includes:
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - '#unction GuzzleHttp\\Psr7\\stream_for not found.#'
