name: tests

on:
  pull_request:
  push:
    branches:
      - master
      - '[0-9]+.x'

jobs:
  tests:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php: [7.2, 7.3, 7.4, '8.0', 8.1]
        stability: [lowest, highest]
        mock: [true]
        include:
          - php: 8.1
            stability: highest
            mock: false

    name: PHP ${{ matrix.php }} - ${{ matrix.stability }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.21.2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, gd, xdebug
          coverage: xdebug

      - name: Setup problem matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Install dependencies
        uses: ramsey/composer-install@v1
        with:
          dependency-versions: ${{ matrix.stability }}

      - name: Execute tests
        env:
          HUAWEI_CLOUD_KEY: ${{ secrets.HUAWEI_CLOUD_KEY }}
          HUAWEI_CLOUD_SECRET: ${{ secrets.HUAWEI_CLOUD_SECRET }}
          HUAWEI_CLOUD_BUCKET: ${{ secrets.HUAWEI_CLOUD_BUCKET }}
          MOCK: ${{ matrix.mock }}
        run: composer run-script test:phpunit -- --coverage-clover coverage.xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        continue-on-error: true
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload coverage to Code Climate
        uses: paambaati/codeclimate-action@v3.0.0
        continue-on-error: true
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageCommand: ls
          coverageLocations: ${{github.workspace}}/coverage.xml:clover
